{% extends 'store/base.html' %}
{% load static %}
{% block content %}


<div class="wrapper">
    <div class="logo-small">
        <img src="{% static 'images/logo.png' %}" alt="">
    </div>
    <div class="text-center mt-4 name">
        <h4>Login to ShopVerse</h4>
    </div>
    <form class="p-3 mt-3" method="post">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            {{form.username}}
        </div>
        <button type="submit" class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="{% url 'password_reset' %}">Forget password?</a> or <a href="{% url 'register' %}">Sign up</a>
    </div>
</div>



{% endblock %}