{% load static %}

<body>
    <nav class="navbar navbar-expand-lg navbar-light nav-tabs">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepage' %}"><img src="{% static 'images/logo.png' %}" alt="logo"
                    width="100" height="70" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="{% url 'homepage' %}">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Shop
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="#">Clothing&raquo;</a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'products'%}?category_type=Men"
                                            value="Men">Men</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'products' %}?category_type=Women"
                                            value="Women">Women</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'products' %}?category_type=Boys"
                                            value="Boys">Boys</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'products' %}?category_type=Girls"
                                            value="Girls">Girls</a>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Trending</a>
                    </li>
                </ul>
                <form class="d-lg-flex d-none">
                    <input class="form-control-lg w-100 me-lg-2 ps-lg-2 fst-italic" type="search"
                        placeholder="What can we get for you today?" aria-label="Search" size="50" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <div class="navbar-nav ms-lg-5 ms-3">
                    <a class="d-lg-flex ps-lg-0 flex-column align-items-center me-lg-4 mt-2 mt-lg-0 text-decoration-none nav-link link-dark"
                        href="#">
                        <i class="far fa-heart ms-0"></i>
                        <p ms-0>Wishlist</p>
                    </a>
                </div>

                <div class="navbar-nav ms-3 ms-lg-3  flex-row  ">
                    <a class="d-lg-flex ps-0 flex-column align-items-center mt-2 mt-lg-0 text-decoration-none link-dark"
                        href="{% url 'cart' %}">
                        <i class="fas fa-shopping-cart"></i>
                        <p>Cart</p>

                    </a>
                    <p id="cart-total">{{cart.total_items}}</p>
                </div>
                {% if user.is_authenticated %}
                <div class=" btn-group navbar-nav ms-lg-5 mt-lg-0 mt-3 ms-3">
                    <button type="button" class="btn btn-warning dropdown-toggle rounded" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        My Account
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Account Information</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Order History</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Wishlist</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a></li>



                    </ul>
                </div>


                <div class="navbar-nav ms-lg-5 mt-lg-2 d-none d-lg-block name">
                    <img class="welcome-icon" src=" {% static 'images/Hello.png' %}" alt="">
                    <span class="  ms-lg-0 ms-3 mt-3 ">
                        {{user.username|title}}</>

                </div>
                {% else %}
                <div class="navbar-nav ms-3 nav-link">
                    <a class="d-lg-flex flex-column align-items-center me-4 mt-2 mt-lg-0 text-decoration-none link-dark"
                        href="{% url 'login' %}"><i class="far fa-user"></i>
                        <p>Login</p>
                    </a>



                </div>
                {% endif %}

            </div>
        </div>
    </nav>
</body>