{% extends 'store/base.html' %} {% block content %}

{% for Product in Products %}
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="product-carousel">
                <div class="carousel-inner border">
                    <div class="carousel-item active">
                        <img class="w-100 h-100" src="{{Product.image}}" alt="Image">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold">{{Product.title}}</h3>
            <div class="d-flex mb-3">
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star-half-alt"></small>
                    <small class="far fa-star"></small>
                </div>
                <small class="pt-1">({{Product.Rating}} Rating)</small>
            </div>
            <h3 class="font-weight-semi-bold mb-4">£{{Product.discounted_price}}<span class="text-muted ms-2 fs-4">
                    <del>(£{{Product.unit_price}})</del><span /></h3>
            <p class="mb-4">{{Product.details}}
            </p>
            <div class="d-flex mb-3">
                <p class="text-dark font-weight-medium mb-0 mr-3">Available Sizes:</p>
                <form>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input ms-2" id="size-1" name="size">
                        <label class="custom-control-label" for="size-1"> {{Product.size}}</label>
                    </div>

                </form>
            </div>
            <div class="d-flex mb-4">
                <p class="text-dark font-weight-medium mb-0 mr-3">Colors:</p>
                <form>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="color-1" name="color">
                        <label class="custom-control-label" for="color-1">{{Product.color}}</label>
                    </div>

                </form>
            </div>
            <div class="d-flex  align-items-center mb-4 pt-2">
                <div class="mr-3" style="width: 300px;">
                    <span>
                        Quantity
                    </span>
                    <input type="number" class=" w-25 d-inline-block form-control bg-light text-dark text-center"
                        value="1" autocomplete="off" name="quantity">

                </div>
                <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
            </div>
            <a href="{% url 'homepage' %}"><button class="btn btn-warning text-dark px-3"><i
                        class="fas fa-arrow-left me-1"></i>Continue
                    Shopping
                </button></a>

            <div>

            </div>
            <div class="d-flex pt-2">
                <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                <div class="d-inline-flex">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-bs-toggle="tab" href="#tab-pane-1">Description</a>
                <a class="nav-item nav-link" data-bs-toggle="tab" href="#tab-pane-2">Specification</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">Product Description</h4>
                    <p>{{Product.style}}. {{Product.fit}}. This {{Product.brand}} is ideal for {{Product.category}}</p>

                </div>
                <div class="tab-pane fade" id="tab-pane-2">
                    <h4 class="mb-3">Product Specification</h4>

                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                    <p>Brand Name : {{Product.brand}}</p>
                                </li>
                                <li class="list-group-item px-0">
                                    <p>Product : {{Product.title}}</p>
                                </li>
                                <li class="list-group-item px-0">
                                    <p>Material : {{Product.material}}</p>
                                </li>
                                <li class="list-group-item px-0">
                                    <p>Color : {{Product.color}}</p>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                    <p>Care Instructions : {{Product.care}}</p>
                                </li>
                                <li class="list-group-item px-0">
                                    <p>Product Rating : {{Product.Rating}}</p>
                                </li>
                                <li class="list-group-item px-0">
                                    <p>Ideal For : {{Product.category}}</p>
                                </li>
                                <li class="list-group-item px-0">
                                    <p>Ideal For : {{Product.details}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


</div>
{% endfor %}
{% endblock %}