{% extends 'store/base.html' %} {% load static %} {% block content %}


<div class="container-fluid mt-lg-5 row">


  <section class=" col-lg-2 col-sm-3 col-md-3">
    {% if not category %}
    <div class="border-bottom mb-4 pb-4">
      <h5 class="font-weight-semi-bold mb-4">Filter by Category</h5>
      <form>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <label class="custom-control-label" for="All-cat">All Categories</label>
          <input type="checkbox" class="custom-control-input" checked id="All-cat" name="All" value="all">

        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <label class="custom-control-label" for="Women-cat">Women</label>
          <input type="checkbox" class="custom-control-input" name="category_type" value="Women">

        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <label class="custom-control-label" for="Men-cat">Men</label>
          <input type="checkbox" class="custom-control-input" name="category_type" value="Women">

        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <label class="custom-control-label" for="Boys-cat">Boys</label>
          <input type="checkbox" class="custom-control-input" id="Boys-cat">

        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <label class="custom-control-label" for="Girls-cat">Girls</label>
          <input type="checkbox" class="custom-control-input" id="Girls-cat">

        </div>

        <input type="submit" name="submit" value="Apply Categories Filter">
      </form>

    </div>
    {% endif %}
    <div class="border-bottom mb-4 pb-4">
      <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
      <form>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <input type="checkbox" class="custom-control-input" checked id="price-all">
          <label class="custom-control-label" for="price-all">All Price</label>
          <span class="badge border font-weight-normal">1000</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <input type="checkbox" class="custom-control-input" id="price-1">
          <label class="custom-control-label" for="price-1">£0 - £25</label>
          <span class="badge border font-weight-normal">150</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <input type="checkbox" class="custom-control-input" id="price-2">
          <label class="custom-control-label" for="price-2">£26 - £50</label>
          <span class="badge border font-weight-normal">295</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <input type="checkbox" class="custom-control-input" id="price-3">
          <label class="custom-control-label" for="price-3">£51 - £75</label>
          <span class="badge border font-weight-normal">246</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <input type="checkbox" class="custom-control-input" id="price-4">
          <label class="custom-control-label" for="price-4">£76 - £100</label>
          <span class="badge border font-weight-normal">145</span>
        </div>
      </form>
    </div>
    <!-- Price End -->


    <!-- Size Start -->
    <div class="mb-5">
      <h5 class="font-weight-semi-bold mb-4">Filter by size</h5>
      <form>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <input type="checkbox" class="custom-control-input" checked id="size-all">
          <label class="custom-control-label" for="size-all">All Size</label>
          <span class="badge border font-weight-normal">1000</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <input type="checkbox" class="custom-control-input" id="size-1">
          <label class="custom-control-label" for="size-1">XS</label>
          <span class="badge border font-weight-normal">150</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <input type="checkbox" class="custom-control-input" id="size-2">
          <label class="custom-control-label" for="size-2">S</label>
          <span class="badge border font-weight-normal">295</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <input type="checkbox" class="custom-control-input" id="size-3">
          <label class="custom-control-label" for="size-3">M</label>
          <span class="badge border font-weight-normal">246</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
          <input type="checkbox" class="custom-control-input" id="size-4">
          <label class="custom-control-label" for="size-4">L</label>
          <span class="badge border font-weight-normal">145</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
          <input type="checkbox" class="custom-control-input" id="size-5">
          <label class="custom-control-label" for="size-5">XL</label>
          <span class="badge border font-weight-normal">168</span>
        </div>
      </form>
    </div>
    <!-- Size End -->

  </section>


  <section class="col-lg-9 col-md-8 col-sm-8 ">
    <div class="row pb-3">
      <div class="col-12 pb-1">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <form action="{% url 'Store:search' %}">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by name" name="search">
              <div class="input-group-append">
                <span class="input-group-text bg-transparent text-primary mt-1">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
          </form>
          <div class="dropdown ml-4">
            <button class="btn border dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Sort by
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
              <a class="dropdown-item" href="#">Latest</a>
              <a class="dropdown-item" href="#">Popularity</a>
              <a class="dropdown-item" href="#">Best Rating</a>
            </div>
          </div>
        </div>
      </div>
      {% for Product in page_obj %}
      <div class="col-lg-4 col-md-6 col-sm-12 pb-1">

        <div class="card product-item border-0 mb-4">
          <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
            <img class="img-fluid w-100" src="{{Product.image}}" alt="">
          </div>
          <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
            <h6 class="text-truncate mb-3">{{Product.title}}</h6>
            <div class="d-flex justify-content-center">
              <h6>£{{Product.discounted_price}}</h6>
              {% if Product.discounted_price != Product.unit_price %}
              <h6 class="text-muted ms-2"><del>£{{Product.unit_price}}</del></h6>
              {% endif %}
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between bg-light border">
            <a href="{% url 'Store:productDetail' Product.id %}" class="btn btn-sm text-dark p-0"><i
                class="fas fa-eye text-primary mr-1"></i>View Detail</a>
            <a href="{% url 'Store:add_to_cart' Product.id %}" class="btn btn-sm text-dark p-0"><i
                class="fas fa-shopping-cart text-primary mr-1"></i>Add To
              Cart</a>
          </div>
        </div>

      </div>
      {% endfor %}



      <div class="col-12 pb-1">
        <nav aria-label="Page navigation ">
          <ul class="justify-content-center mb-3 d-flex py-2 pagination ">
            {% if page_obj.has_previous %}
            <li class=" nav-link">
              <a {% if category %} href="?category_type={{category}}&page=1" {% elif search %}
                href="?search={{search}}&page=1" {% else %} href="?page=1" {% endif %}>&laquo; First page</a>


            </li>
            <li class=" nav-link">
              <a class="" {% if category %} href="?category_type={{category}}&page={{ page_obj.previous_page_number }}"
                {% elif search %} href="?search={{search}}&page={{ page_obj.previous_page_number}}" {% else %}
                href="?page={{ page_obj.previous_page_number }}" {% endif %} aria-label="Previous">
                <span>Previous</span>
              </a>


            </li>
            {% endif %}
            <li class="active nav-link"><a class="text-decoration-none" href="#">Page {{ page_obj.number}} of
                {{page_obj.paginator.num_pages }}.</a></li>

            {% if page_obj.has_next %}
            <li class="nav-link">

              <a class="d-block" {% if category %}
                href="?category_type={{category}}&page={{ page_obj.next_page_number }}" {% elif search %}
                href="?search={{search}}&page={{ page_obj.next_page_number }}" {% else %}
                href="?page={{ page_obj.next_page_number }}" {% endif %} aria-label="Next">
                <span>Next&raquo;</span>
              </a>
            </li>

              <a {% if category %} href="?category_type={{category}}&page={{ page_obj.paginator.num_pages }}" {% elif search %} href="?search={{search}}&page={{page_obj.paginator.num_pages }}" {% else %}
                href="?page={{ page_obj.paginator.num_pages }}" {% endif %}>Last page </a>

            </li>

            {% endif %}
          </ul>
        </nav>
      </div>
    </div>


  </section>

</div>


</div>


{% endblock %}